/* h1 {
    text-align: center;
    font-weight: bold;
}

.result {
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.result:hover {
    background-color: cadetblue;
}

.result:active {
    background-color: royalblue;
} */

h1 {
    text-align: center;
    font-weight: bold;
}

.result {
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.result:hover {
    background-color: aqua;
}

.result:active {
    background-color: yellow;
}